<% @page = "about" %>


<div class="staticpage">

	<p>
	Lucy is a graphic designer, educator and researcher, with a ceaseless love for typography. In 2009, after training and working in London, Sydney and Tel Aviv, Lucy moved back up North to put down some roots. Prior to this, Lucy worked with <a href="http://odedezer.com" target="_blank">Oded Ezer</a>, as a graphic designer for <a href="http://theguardian.com/uk" target="_blank">The Guardian</a> newspaper and the <a href="http://ica.org.uk" target="_blank">Institute of Contemporary Arts</a>  and as an art director for <a href="http://mcsaatchi.com" target="_blank">M&amp;C Saatchi</a> in Australia. 
	</p>

	<p>
	Lucy has a MA in Graphic Design and a First Class BA (Hons) degree in Graphic Design: Typography from the <a href="http://www.arts.ac.uk/lcc/" target="_blank">London College of Communication</a>. Lucy is also a member of the <a href="http://istd.org.uk" target="_blank">ISTD</a> (International Society of Typographic Designers).
	</p>

	<p>
	Lucy is currently Senior Lecturer on the BA (Hons) Graphic Design and BA (Hons) Illustration courses at Staffordshire University. She is also a fellow of the HEA (Higher Education Academy) and Co-Membership Officer of the GDEN (Graphic Design Educator’s Network). In the past, she has taught graphic design and typography at University Centre Stockport, London College of Communication and Manchester Metropolitan University, and contextual studies for both graphic design and fashion at Liverpool John Moores University. 
	</p>

	<h2>Training</h2>

	<p>
	MA Graphic Design, LCC, 2014 <br />
	PGCert Learning &amp; Teaching in HE, LJMU, 2012 <br />
	 HEA Fellow, 2012<br />
	BA (Hons) Graphic Media Design: Typography, 1st Class, LCC, 2009<br />
	Diploma in Professional Studies, LCC, 2008<br />
	MISTD, with Merit, 2007 
	</p>

	<h2>Extra Goodness </h2>

	<p>
	<a href="http://crowdtalks.co.uk/events.html" target="_blank">Crowd Talks</a> panel member, Creative Schools of Thought, University of Brighton, 2013<br />
	Typography Summer School assistant to Fraser Muggeridge, 2011<br />
	Good for Nothing attendee, 2011<br />
	Do Lectures attendee, 2010<br />
	Typography Summer School attendee, 2010<br />
	</p>

	<h2>Roles</h2> 

	<div class="role">
		
		<p>
		Lucy Brown: self-employed, 2009 to present<br />
		Oded Ezer: apprentice, 2009<br />
		M&amp;C Saatchi, Sydney: art director, 2008<br />The Guardian newspaper: freelance graphic designer, 2007-2011<br />
		ICA (Institute of Contemporary Arts): freelance graphic designer, 2006<br />

		</p>
	</div>
	
	<h2>Lecturing</h2>

	<p>
	Senior Lecturer, BA (Hons) Graphic Design & BA (Hons) Illustration, Staffordshire University, 2014 to present.<br />
	Programme Leader, BA (Hons) Graphic Arts & Design, University Centre Stockport, 2011-2014<br />
	</p>

	<p>
	Visiting Lecturer, BA (Hons) Graphic Arts, LJMU, 2011-2012<br />
	Visiting Lecturer, BA (Hons) Fashion, MMU, 2011<br />
	Visiting Lecturer, BA (Hons) Graphic Media Design: Typography, LCC, 2009-2011<br />
	Visiting Lecturer, BA (Hons) Fashion Communication, LJMU, 2010-2011<br />
	Visiting Lecturer, Foundation Degree Graphic Design, Mid-Cheshire College, 2010<br />
	Mid-Cheshire College, Lost in the Forest Institute/Thoughtful, 2010<br />
	</p>

	<h2>Talks</h2>

	<p>
	Design Research: LJMU, 2011 <br />
	The Application of Education: Staffordshire University, 2011<br />
	Provenance - origins, education, ownership: LCC, 2011<br />
	PechaKucha: Liverpool Biennial, 2010<br />
	1 Year On: Emerge/London Design Festival, 2010<br />
	Design Futures: LCC, 2010<br />
	</p>

	<h2>Workshops</h2>

	<p>
	Nature &amp; Design: Southwark Primary School, Nottingham, 2010<br />
	Home: poster workshop, alongside Yasha Rozov, LCC, 2010<br />
	Visualthought: Plus International Design Festival, 2008<br />
	</p>

	<h2>Exhibitions</h2>

	<p>
	A Parallel Approach, LCC, 2014<br />
	Graphic Birdwatching Christmas Exhibition, Berlin, 2010<br />
	Cardboard Folly: Issue 1, curated by Emily Speed, The Bluecoat, 2010<br />
	Celebration of August, London Design Festival, 2010<br />
	Emerge, Graduate showcase of the London Design Festival, 2009<br />
	Celebration of July, London Design Festival, 2009<br />
	5:1, LCC, 2009<br />
	Exhibition A, LCC, 2007
	</p>

	<h2>Writing</h2>

	<p>
	Review of Bracket Vol. 03, 2012<br />
	The Role of Poster Design in the Publicity of Self: Limited Language, 2011<br />
	A Design Diary From Tel Aviv: Jotta.com, 2010<br />
	Review of Typography Summer School: Jotta.com, 2010<br />
	Contributor: Graphic Design School, fourth edition, Thames &amp; Hudson, 2010
	</p>

	<h2>Press</h2>

	<p>
	Short-listed on The Hospital Club and The Independent’s 100 Brave New Futures list, 2010<br />
	Design Week: “Nail that post” contributor, 2010<br />
	Notes on Design feature: Lucy Brown Studio, 2010<br />
	Futurising feature: Graduate of the Week, 2010<br />
	ISTD membership feature in St Bride Library’s Ultrabold, 2007
	</p>

	<h2>About Greycaine </h2>

	<p>
	Between 2006 and 2009 Lucy worked under the name of Greycaine. <br />In 1909, the brother of Lucy’s great-grandmother set up Greycaine Book Manufacturing Company with Ralph Hall Caine. They had their first printing press at 30-33 Cross St in Islington, London and later moved to Watford to what is now the Greycaine Industrial Estate. If you are interested in valuing the Greycaine books on your shelves or researching about Greycaine Book Manufacturing Company, please get in touch. Lucy has several images and a full printed history of the press which she will happily share with those who are interested.
	</p>



</div>
