<% @page = "about" %>


<div class="staticpage">

	<p>
	Lucy is a graphic designer, educator and researcher, with a ceaseless love for typography. In 2009, after training and working in London, Sydney and Tel Aviv, Lucy moved back up North to put down some roots. Prior to this, Lucy worked with Oded Ezer, as a graphic designer for the Guardian newspaper and the Institute of Contemporary Arts  and as an art director for M&amp;C Saatchi in Australia. 
	</p>

	<p>
	Lucy has a First Class BA (Hons) degree in Graphic Design: Typography from the London College of Communication and is a member of the ISTD (International Society of Typographic Designers). Lucy is currently studying for an MA in Graphic Design at the London College of  Communication, which will culminate in December 2014. 
	</p>

	<p>
	Lucy is currently programme leader on the BA (Hons) Graphic Arts  &amp; Design course at University Centre Stockport College, south of Manchester. In the past, she has taught graphic design and typography at London College of Communication and Manchester Metropolitan University, and contextual studies for both graphic design and fashion at Liverpool John Moores University.  
	</p>

	<h2>Training</h2>

	<p>
	MA Graphic Design, LCC, 2014 <br />
	PGCert Learning &amp; Teaching in HE, LJMU, 2012 HEA Fellow, 2012<br />
	BA (Hons) Graphic Design: Typography, 1st Class, LCC, 2009<br />
	Diploma in Professional Studies, LCC, 2008<br />
	MISTD, with Merit, 2007 
	</p>

	<h2>Extra Goodness </h2>

	<p>
	Typography Summer School assistant to Fraser Muggeridge, 2011<br />
	Good for Nothing attendee, 2011<br />
	Do Lectures attendee, 2010<br />
	Typography Summer School attendee, 2010<br />
	</p>

	<h2>Roles</h2> 

	<div class="role">
		<p>Programme Leader, BA(Hons) Graphic Arts &amp; Design University Centre Stockport College, 2011 to present</p>
		
		<p>
		Lucy Brown Studio: self-employed, 2009-2011<br />
		PlanB Studio: freelance graphic designer, 2010<br />
		Oded Ezer: apprentice, 2009<br />
		M&amp;C Saatchi, Sydney: art director, 2008 The Guardian newspaper: freelance graphic designer, 2007-2011<br />
		ICA (Institute of Contemporary Arts): freelance graphic designer, 2006
		</p>
	</div>
	
	<h2>Lecturing</h2>

	<p>
	LJMU, BA(Hons) Graphic Arts, 2011-2012<br />
	MMU, BA(Hons) Fashion, 2011<br />
	LCC, BA (Hons) Graphic Design: Typography, 2011<br />
	LJMU BA (Hons) Fashion Communication, 2010-2011<br />
	Mid-Cheshire College, Foundation Degree Graphic Design, 2010<br />
	Lost in the Forest Institute/Thoughtful, 2010<br />
	LCC, Brit Insurance Designs of the Year seminar, 2010<br />
	LCC, Personal and Professional Development, 2009<br />
	</p>

	<h2>Talks</h2>

	<p>
	Design Research: LJMU, 2011 The Application of Education: Staffordshire University, 2011<br />
	Provenance - origins, education, ownership: LCC, 2011<br />
	PechaKucha: Liverpool Biennial, 2010<br />
	1 Year On: Emerge/London Design Festival, 2010<br />
	Design Futures: LCC, 2010<br />
	</p>

	<h2>Workshops</h2>

	<p>
	Nature & Design: Southwark Primary School, Nottingham, 2010<br />
	Home: poster workshop, alongside Yasha Rozov, LCC, 2010<br />
	Visualthought: Plus International Design Festival, 2008<br />
	</p>

	<h2>Exhibitions</h2>

	<p>
	Graphic Birdwatching Christmas Exhibition, Berlin, 2010<br />
	Cardboard Folly: Issue 1, curated by Emily Speed, The Bluecoat, 2010<br />
	Celebration of August, London Design Festival, 2010<br />
	Emerge, Graduate showcase of the London Design Festival, 2009<br />
	Celebration of July, London Design Festival, 2009<br />
	5:1, LCC, 2009<br />
	Exhibition A, LCC, 2007
	</p>

	<h2>Writing</h2>

	<p>
	Review of Bracket Vol. 03, 2012<br />
	The Role of Poster Design in the Publicity of Self: Limited Language, 2011<br />
	A Design Diary From Tel Aviv: Jotta.com, 2010<br />
	Review of Typography Summer School: Jotta.com, 2010<br />
	Contributor: Graphic Design School, fourth edition, Thames &amp; Hudson, 2010
	</p>

	<h2>Press</h2>

	<p>
	Short-listed on The Hospital Club and The Independent’s 100 Brave New Futures list, 2010<br />
	Design Week: “Nail that post” contributor, 2010<br />
	Notes on Design feature: Lucy Brown Studio, 2010<br />
	Futurising feature: Graduate of the Week, 2010<br />
	ISTD membership feature in St Bride Library’s Ultrabold, 2007
	</p>


	<h2>Work Experience </h2>
	
	<p>
	Design: The Chase, 2009<br />
	PR: Idea Generation, 2005-2007<br />
	TV Production: BBC, 2005<br />
	Marketing: BSkyB, 2005<br />
	Advertising: HHCL &amp; Redcell, 2005<br />
	Radio Production: Emap Radio, 2004<br />
	</p>

	<h2>About Greycaine </h2>

	<p>
	Between 2006 and 2009 Lucy worked under the name of Greycaine. In 1909, the brother of Lucy’s great-grandmother set up Greycaine Book Manufacturing Company with Ralph Hall Caine. They had their first printing press at 30-33 Cross St in Islington, London and later moved to Watford to what is now the Greycaine Industrial Estate. If you are interested in valuing the Greycaine books on your shelves or researching about Greycaine Book Manufacturing Company, please get in touch. Lucy has several images and a full printed history of the press which she will happily share with those who are interested.
	</p>



</div>
