<% @page = "contact" %>

<div class="staticpage">
	<div class="contactdetails">
		<ul>
			<li>hello@lucybrown.co</li><br />
			<li>+44 (0) 7701008030</li><br />
			<li>twitter @lucybrownco</li>
		</ul>
	</div>
</div>