<% @page = "contact" %>

<div class="staticpage">
	<div class="contactdetails">
		<ul>
			<li><%= mail_to "lucy@lucybrownstudio.com", ("lucy@lucybrownstudio.com") %></li>
			<li>+44 (0) 7701008030</li>
			<li><%= link_to "@lucybrownco", ("http://twitter.com/lucybrownco") %></li>
		</ul>
	</div>
</div>