<% @page = "home" %>

<% if @work1.image1.exists? %>
	<div>
		<%= image_tag @work1.image1(:medium) %>
	</div>
<% end %>


<div class="homecontact">
	<ul>
		<li><%= mail_to "hello@lucybrown.co", ("hello@lucybrown.co") %></li>
		<li>+44 (0)7701008030</li>
		<li><%= link_to "@lucybrownco", ("http://twitter.com/lucybrownco") %></li>
	</ul>
</div>

