<% @page = "home" %>

<div>
	<%= image_tag @work1.image1(:medium) %>
</div>


<div class="homecontact">
	<ul>
		<li>hello@lucybrown.co</li>
		<li>+44 (0)7701008030</li>
		<li>@lucybrownco</li>
	</ul>
</div>

