<% @page = "work" %>

<div class="work_index_box">

	<% @works.each do |work| %>
		
		<% if work.image1.exists? %>
			<div class="index_image1"><%= link_to (image_tag work.image1(:medium)), work_path(work) %></div>
		<% end %>
	<% end %>

</div>