@import url(http://fonts.googleapis.com/css?family=Varela);

$primarycolor: #000; /* black */
$secondarycolor: #74736c;		/* dark gray */
$thirdcolor: #dddddd;			/* light gray */




/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/** Site Styles **/

body, html {
	font-family: 'Varela', sans-serif;
	font-size: 16px;
	height: 100%;
}

p {
	line-height: 22px;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

b {
	font-weight: bold;
}

h1 {
	font-size: 22px;
	letter-spacing: 2px;
}

h2 {
	margin: 35px 0px 20px 0px;
	font-size: 16px;
}

h3 {
	font-size: 16px;
	margin-bottom: 20px;
}

a {
		color: $primarycolor;

	}

	a:active {
		color: $primarycolor;
	}

	a:visited {
		color: $primarycolor;
	}

	a:hover {
		color: $thirdcolor;
	}


.wrapper {

}

.centered {
	width: 960px;
	margin: 0 auto;
	padding: 50px 30px 0px 30px;
}

/** Header **/

.navbox {
	width: auto;
	height: 90px;
}

.navcontent{
	float: right;
	color: $secondarycolor;

	li {
		display: inline;
		font-size: 14px;
		letter-spacing: 3px;
		margin-left: 30px;
		/* font-weight: bold; */
	}

	

}

.navcorrectpage {
	a {
		color: $primarycolor;
	}

	a:active {
		color: $primarycolor;
	}

	a:visited {
		color: $primarycolor;
	}
}


h1 .strapline {
	margin-left: 75px;
	color: $thirdcolor;
}

.sitetitle {
	height: 90px;

	a {
		color: $primarycolor;
	}

	a:visited {
		color: $primarycolor;
	}
}


/** Footer **/

.home-contact {
	font-size: 24px;
	color: $secondarycolor;
}



/** Page Content **/

.pagecontent {

	p {
		color: $secondarycolor;
	}

}


	/** WORKS **/


	/** WORKS INDEX **/

	.work_index_box {
		width: 900px;
	}

	.work_index_occurance {
		width: 900px;
		/* height: 1690px; */
		position: relative;
		display: block;
		margin-top: 30px;
	}

	.work_index_occurance:first-child {
		margin-top: 0px;
	}

	.i {
		position: absolute;
		display: block;
	}


	.index_image0 {
		z-index: 1;
	}

	.index_image1 {
		z-index: 40;
		left: 225px;
	}

	.index_image2 {
		z-index: 22;
		left: 380px;
	}

	.index_image3 {
		z-index: 4;
		top: 290px;
	}

	.index_image4 {
		z-index: 9;
		left: 450px;
		top: 450px;
	}

	.index_image5 {
		z-index: 6;
		left: 600px;
		top: 450px;
	}

	.index_image6 {
		z-index: 20;
		left: 225px;
		top: 660px;
	}

	.index_image7 {
		z-index: 30;
		top: 820px;
	}

	.index_image8 {
		z-index: 16;
		left: 600px;
		top: 740px;
	}

	.index_image9 {
		z-index: 12;
		top: 1030px;
	}

	.index_image10 {
		z-index: 15;
		left: 380px;
		top: 820px;
	}

	.index_image11 {
		z-index: 10;
		top: 1270px;
	}

	.index_image12 {
		z-index: 76;
		left: 450px;
		top: 1420px;
	}

	.index_image13 {
		z-index: 14;
		top: 1270px;
		left: 600px;
	}


	/** WORKS SHOW **/

	.work_show_box {
		color: $secondarycolor;
	}

	.work_show_right {
		position: relative;
		width: 762px;
		padding-left: 90px;
		float: right;
	}

	.work_show_left {
		width: 138px;
	}

	.show_image1 {

	}

	.show_image2 {
		position: absolute;
		z-index: 100;
		padding-left: 370px;
	}

	.show_next {
		float: right;
		padding-top: 403px; 
	}

	.show_back {
		padding-top: 440px;
		text-align: right;
	}

	.show_content {
		margin-top: 50px;
		padding-bottom: 180px;
	}

	.show_content b {
		color: $primarycolor;
	}

	.shownav {
		font-size: 14px;
		letter-spacing: 3px;
	}


	/** STATIC PAGES **/
		
	.staticpage {
		padding-left: 227px;
		color: $secondarycolor;
		padding-bottom: 180px;
	}

	.role {
		margin-top: -16px;
	}

		/** Home **/

		.home_images {
			width: 900px;
			height: 400px;
			position: relative;
			display: block;
		}

			.home_image0 {
				z-index: 1;
			}

			.home_image1 {
				z-index: 3;
				left: 225px;
			}

			.home_image2 {
				z-index: 2;
				left: 380px;
			}

		.homecontact {
			padding: 90px 0px 180px 0px !important;
			color: $secondarycolor;

			li {
				display: inline;
				letter-spacing: 2px;
				margin-left: 30px; /* was 50px */
				font-size: 14px;
				color: #000;
			}

			li:first-child {
				margin-left: 0px;
			}
		}

		.category { color: $secondarycolor; letter-spacing: 2px; }

		/** Contact **/

		.contactdetails {

			li {
				letter-spacing: 2px;
				font-size: 14px;
				margin-bottom: 14px;
				color: #000;
			}

		}


.three { height: 470px; }
.six { height: 760px; }
.nine { height: 1060px; }
.eleven { height: 1350px; }
.fourteen { height: 1690px; }


.v { margin-top: 570px; }
.w { margin-top: 860px; }
.x { margin-top: 1160px; }
.y { margin-top: 1450px; }
.z { margin-top: 1790px; }


.client_work { margin-top: 130px; }
